@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  transition: opacity 0.25s ease;
  }
  body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
  }
  .opacity-95 {opacity: .95;}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: Bahn;
  src: url('../../public/Bahnschrift\ Regular.ttf');
}

@keyframes menufadeUp {
  100% {
    transform: translateY(0%);
  }
  0% {
    transform: translateY(100%);
  }
}

.menufadeUp-animation {
  animation: 1.5s fadeInUp;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

.fadeInUp-animation-slow {
  animation: 2.3s fadeInUp;
}


body {
  background-color:  #e5e5e5;
color: black;
scroll-behavior: smooth;
font-family: Bahn !important;

}

.grid-item {
  float: left;
  width: 80px;
  height: 60px;
  border: 2px solid red;
}

.grid-item--width2 { width: 160px; }
.grid-item--height2 { height: 140px; }

.imgContainer {
  position: relative;
  width: 100%;
}

.gridimg {
  display: block;
  width: 100%;
  height: auto;

}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,.8);
}

.imgContainer:hover .imgDescription {
  opacity: 1;
}


.gridText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.galleryImg {
  display: block;
  /*width: 50%;*/
  max-height: 100%;
  /*margin: auto 0;*/
  height: auto;
}

@media (min-width: 1024px) { 
  .galleryImg {
    display: block;
    /*width: 50%;*/
    max-height: 100%;
    /*margin: auto 0;*/
    height: 100%;
  }
 }